@use "../globals" as *;
@use "../parts/common" as *;

#category {
  .concept {
    &__card {
      margin-top: calc(20vh + 80px);;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
  
      @include mq(lg) {
        &:nth-child(2n) {
          flex-direction: row-reverse;
  
          & .concept__intro {
            padding: 0 0 0 16px;
  
            &.appear.up {
              & .item {
                transform: translateX(40px);
              }
            }
  
            &.appear.up.inview {
              .item {
                transform: none;     
                opacity: 1;   
              }
            }
          }
  
          & .concept__image {
            &.appear.up {
              & .item {
                transform: translateX(-40px);
              }
            }
  
            &.appear.up.inview {
              .item {
                transform: none;
                opacity: 1;
              }
            }
          }
        }
  
        &:nth-child(2n+1) {
          flex-direction: row;
  
          & .concept__intro {
            padding: 0 16px 0 0;
  
            &.appear.up {
              & .item {
                transform: translateX(-40px);
              }
            }
  
            &.appear.up.inview {
              .item {
                transform: none;
                opacity: 1;
              }
            }
          }
  
          & .concept__image {
            &.appear.up {
              & .item {
                transform: translateX(40px);
              }
            }
  
            &.appear.up.inview {
              .item {
                transform: none;
                opacity: 1;
              }
            }
          }
  
        }
      }
  
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15%;
        width: 100%;
        height: 130%;
        background-color: $cBgYellow;
  
        @include mq(lg) {
          bottom: -20%;
          height: 140%;
        }
      }
  
      &:last-child {
        margin-bottom: 80px;
      }
    }
  
    &__intro {
      padding: 0 16px 40px;
      position: relative;
      z-index: 2;
  
      @include mq(lg) {
        flex-basis: 48%;
      }
    }
  
    &__title {
      @extend .font-lr;
      font-weight: normal;
      text-align: center;
      margin-bottom: 20px;
  
      @include mq(lg) {
        font-size: 1.5rem;
      }
    }
    
    &__description {
      line-height: 2;
      @extend .font-sm;
  
      @include mq(lg) {
        line-height: 2.2;
        font-size: 0.875rem;
      }
    }
  
    &__image {
      width: 100%;
      height: 250px;
      overflow: hidden;
      position: relative;
      z-index: 2;
  
      @include mq(lg) {
        flex-basis: 48%;
      }
  
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
