$cWhite: #FFFFFF;
$cBlack: #000000;
$cBgGray: #F0F0F0;
$cBgDark: #e5e5e5;
$cBgYellow: #f1e6aa;
$cNewsBorder: #9f9f9f;
$cFlowBg: #f1f1f1;
$cFlowPaginaiton: #a8a8a8;
$cWorksScroll: #bababa;
$cWorksScrollHover: #737373;
$cMobileBtn: #333;
$contentMaxWidth: 1032px;
$navHeight: 80px;