@use "../globals" as *;

html {
  font-size: 100%;
}

body {
  background-color: $cBgGray;
  color: $cBlack;
  @extend .font-md;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: $cBlack;
  @extend .font-md;
  text-decoration: none;
}

li {
  list-style: none;
}

/* マージン */
.mb-sm {
  margin-bottom: 34px !important;

  @include mq(lg) {
    margin-bottom: 50px !important;
  }

}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 120px !important;
  }
}

/* パディング */
.pb-sm {
  padding-bottom: 20px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

/* フォント */
.font-sm {
  font-size: 0.75rem;
}
.font-md {
font-size: 0.875rem;
}
.font-lr {
  font-size: 1.125rem;
}
.font-lg {
  font-size: 1.5rem;
}

/* 共通クラス */
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
  padding: 0 16px;
}

.flex {
  display: flex;
  flex-direction: column;
  
  @include mq(lg) {
    flex-direction: row;
  }
}

/*
h1タグ用
line-height にh1タグの高さよりも小さい値「1px」を指定することで、
h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う
*/
.logo {
  width: 80px;
  margin: 8px 0;
  line-height: 1px;

  & a {
    display: block;
  }

  @include mq(lg) {
    width: 100px;
    margin-right: 60px;
  }
}

.section-title {
  margin-bottom: 58px;
  font-weight: normal;
  line-height: 1;
  text-align: center;

  @include mq(lg) {
    margin-bottom: 70px;
  }

  & .en {
    display: block;
    @extend .font-lg;
    letter-spacing: 0.3em;
    margin-bottom: 10px;

    @include mq(lg) {
      font-size: 2rem;
    }
  }

  & .ja {
    display: block;
    @extend .font-sm;

    @include mq(lg) {
      font-size: 0.875rem;
    }
  }
}


.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  @extend .font-md;

  @include mq(lg) {
    font-size: 1.25rem;
  }

  &::before, &::after {
    border-top: 1px solid $cBlack;
    content: "";
    width: 13%;

    @include mq(lg) {
      width: 16%;
    }
  }

  &::before {
    margin-left: 3em;

    @include mq(lg) {
      margin-left: 8em;
    }
  }

  &::after {
    margin-right: 3em;

    @include mq(lg) {
      margin-right: 8em;
    }
  }
}

.section-link {
  text-align: right;
  padding-right: 2rem;

  @include mq(lg) {
    padding-right: 0;
  }

  .arrow-anime::before {
    right: 6.5em;

    @include mq(lg) {
      right: 8em;
    }
  }
}

.home-link {
  text-align: center;
  padding-left: 4rem;

  .arrow-anime::before {
    right: 5em;
  }
}

.arrow-anime {
  position: relative;
  letter-spacing: 0.25em;
  @extend .font-sm;
  
  @include mq(lg) {
    letter-spacing: 0.35em;
    font-size: 0.875rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    top: 0.25em;
    background-image: url(../../images/arrowright.svg);
    background-repeat: no-repeat;
    background-size: contain;

  
    @include animation(
      $name: kf-arrow-anime,
      $iteration-count: infinite,
      $duration: 2s,
      $timing-function: linear
    );
  }
}

/* フェードモード時 共通調整 */
.swiper-fade {
  .swiper-slide {
    transition-property: opacity !important;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateX(-15%);
  }
  30% {
    transform: none;
  }
}